@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pp {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
    min-width: 230px;
    min-height: 250px;
}

.citiesMargin {
  margin: 60px!important;
  left: 10px;
}

.fontCities {
  font-size: 150px!important;
}

.ManyMore {
  position: relative!important;
  top: 70px!important;
  left: 53px;     
  font-size: 27px;
}