@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.img{background-image: url("https://images.deliveryhero.io/image/foodpanda/hero-home-pk.jpg?width=1400&height=896");
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  height: 100%;
  width: 33%;
  position: absolute;
  margin: 0;
  margin-left: 67%;
  max-height: 615px;
    }
    .hero-sec{
        width: 100%;
        padding-bottom: 104px;
        padding-left: 80px; 
        padding-right: 80px; 
        max-width: 1300px;
    }
    .hero-text{
        max-width: 64%;
    }
    .hero-text h1{
      line-height: 3.5rem;
  }
.pp {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 100%;
    position: relative;
    min-width: 100%;
}


.chef {
  position: relative;
  top: 120px;
}

.texty {
  position: relative;
  bottom: 420px;
  left: 60px;
}

.section {
  background-color: white;
  padding: 25px;
  width: 35%;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.heading {
  font-size: 24px;
}

.para {
  font-family: "Open Sans",Arial,sans-serif;
  font-size: 1px "Open Sans",Arial,sans-serif;
  color: #707070;
  margin: 16px 0px 24px;
  padding: 12px 0x 0x;
}
.setPink {
  color: #d70f64!important;
}
.buttonGetstarted {
  color: rgb(255, 255, 255)!important;
  background-color: #d70f64!important;
  width: 200px;
  border-radius: 5px;
}
@media screen and (max-width: 800px) {
  .buttonGetstarted {
    width: 100%;
  }
}
.buttonGetstarted:hover {
  background-color: #bd0652;
  transition-duration: 0.5s;
}

.section {
  position: absolute;
  top: 900px;
  left: 150px;
}
.banner{
  z-index: -1;
}

.img2{
  background-image: url("./components/img/home-foodpanda-apps.png");
  background-repeat: no-repeat;
  display: block;
  background-size: cover;
  height: 100%;
  width: 48%;
  position: absolute;
  margin: 0;
  margin-left: 52%;
  max-height: 615px;
  }

